# Assignment

In this assignment, we want to read in the `retail-churn.csv` dataset and run some EDA on the data. Generally speaking, when we run EDA on a dataset, we don't have a particular goal in mind. Instead we want to get a "gut-feel" for what the data looks like. The goal of the assignment is to show your ability to examine a dataset with increasing depth as you go.

In [1]:
import pandas as pd
#import datetime

col_names = ['user_id', 'gender', 'address', 'store_id', 'trans_id', 'timestamp', 'item_id', 'quantity', 'dollar']
churn = pd.read_csv("retail-churn.csv", sep = ",", skiprows = 1, names = col_names)
churn.head()

,user_id,gender,address,store_id,trans_id,timestamp,item_id,quantity,dollar
0,101981,F,E,2860,818463,11/1/2000 0:00,4.710000e+12,1,37
1,101981,F,E,2861,818464,11/1/2000 0:00,4.710000e+12,1,17
2,101981,F,E,2862,818465,11/1/2000 0:00,4.710000e+12,1,23
3,101981,F,E,2863,818466,11/1/2000 0:00,4.710000e+12,1,41
4,101981,F,E,2864,818467,11/1/2000 0:00,4.710000e+12,8,288

churn.tail()

In [92]:
col_names_df = pd.DataFrame(churn, columns = col_names)
col_names_df

,user_id,gender,address,store_id,trans_id,timestamp,item_id,quantity,dollar
0,101981,F,E,2860,818463,11/1/2000 0:00,4.710000e+12,1,37
1,101981,F,E,2861,818464,11/1/2000 0:00,4.710000e+12,1,17
2,101981,F,E,2862,818465,11/1/2000 0:00,4.710000e+12,1,23
3,101981,F,E,2863,818466,11/1/2000 0:00,4.710000e+12,1,41
4,101981,F,E,2864,818467,11/1/2000 0:00,4.710000e+12,8,288
...,...,...,...,...,...,...,...,...,...
252199,2179605,B,G,251838,1630692,2/28/2001 0:00,2.250000e+12,2,138
252200,2179605,B,G,251839,1630821,2/28/2001 0:00,4.710000e+12,1,96
252201,2179605,B,G,251840,1630931,2/28/2001 0:00,4.710000e+12,1,89
252202,2179605,B,G,251841,1631033,2/28/2001 0:00,4.710000e+12,1,108
252203,2179605,B,G,251842,1631048,2/28/2001 0:00,4.710000e+12,1,95

In [93]:
print(col_names_df.dtypes)

user_id        int64
gender        object
address       object
store_id       int64
trans_id       int64
timestamp     object
item_id      float64
quantity       int64
dollar         int64
dtype: object

In [94]:
col_names_df['dollar'] = col_names_df['dollar'].astype(float)

print(col_names_df.dtypes)

col_names_df.head()

user_id        int64
gender        object
address       object
store_id       int64
trans_id       int64
timestamp     object
item_id      float64
quantity       int64
dollar       float64
dtype: object

,user_id,gender,address,store_id,trans_id,timestamp,item_id,quantity,dollar
0,101981,F,E,2860,818463,11/1/2000 0:00,4.710000e+12,1,37.0
1,101981,F,E,2861,818464,11/1/2000 0:00,4.710000e+12,1,17.0
2,101981,F,E,2862,818465,11/1/2000 0:00,4.710000e+12,1,23.0
3,101981,F,E,2863,818466,11/1/2000 0:00,4.710000e+12,1,41.0
4,101981,F,E,2864,818467,11/1/2000 0:00,4.710000e+12,8,288.0

In [100]:
import datetime
# unit='s' to convert it into epoch time
col_names_df['Datetime'] = pd.to_datetime(col_names_df['timestamp'])#, unit='s')

# unit='s' to convert it into epoch time
#data['Datetime'] = pd.to_datetime(data['timestamps'],
                                #  unit='s')
#col_names_df['Modified Datetime'] = col_names_df['datetime'].dt.strftime('%d-%m-%Y')
 
# checking our dataframe once again
col_names_df.head()

,user_id,gender,address,store_id,trans_id,timestamp,item_id,quantity,dollar,Datetime
0,101981,F,E,2860,818463,11/1/2000 0:00,4.710000e+12,1,37.0,2000-11-01
1,101981,F,E,2861,818464,11/1/2000 0:00,4.710000e+12,1,17.0,2000-11-01
2,101981,F,E,2862,818465,11/1/2000 0:00,4.710000e+12,1,23.0,2000-11-01
3,101981,F,E,2863,818466,11/1/2000 0:00,4.710000e+12,1,41.0,2000-11-01
4,101981,F,E,2864,818467,11/1/2000 0:00,4.710000e+12,8,288.0,2000-11-01

In [101]:
print(col_names_df.dtypes)

user_id               int64
gender               object
address              object
store_id              int64
trans_id              int64
timestamp            object
item_id             float64
quantity              int64
dollar              float64
Datetime     datetime64[ns]
dtype: object

In [43]:
churn.dtypes

user_id        int64
gender        object
address       object
store_id       int64
trans_id       int64
timestamp     object
item_id      float64
quantity       int64
dollar         int64
dtype: object

In [25]:
#churn.loc[:, 'dollar'].head
#churn['dollar'].head
churn.dollar.head()

0     37
1     17
2     23
3     41
4    288
Name: dollar, dtype: int64

In [103]:
len(col_names_df)

252204

In [12]:
len(churn)

252204

In [13]:
type(churn)

pandas.core.frame.DataFrame

In [14]:
churn.shape

(252204, 9)

In [17]:
churn.index

RangeIndex(start=0, stop=252204, step=1)

In [18]:
churn.describe()

,user_id,store_id,trans_id,item_id,quantity,dollar
count,2.522040e+05,252204.000000,2.522040e+05,2.522040e+05,252204.000000,252204.000000
mean,1.395660e+06,126101.500000,1.229771e+06,4.467833e+12,1.385692,130.911389
std,6.094769e+05,72805.167983,2.350992e+05,1.679512e+12,3.705732,388.142169
min,1.113000e+03,0.000000,8.177470e+05,2.000882e+07,1.000000,1.000000
25%,9.937150e+05,63050.750000,1.025926e+06,4.710000e+12,1.000000,42.000000
50%,1.586046e+06,126101.500000,1.233476e+06,4.710000e+12,1.000000,76.000000
75%,1.862232e+06,189152.250000,1.433222e+06,4.710000e+12,1.000000,132.000000
max,2.179605e+06,252203.000000,1.635482e+06,9.790000e+12,1200.000000,70589.000000

Here are some examples of questions we can be asking:

1. What are the columns, their types and their distribution (when it makes sense)? <span style="color:red" float:right>[1 point]</span>

In [11]:
# What are the columns?
print(col_names)

['user_id', 'gender', 'address', 'store_id', 'trans_id', 'timestamp', 'item_id', 'quantity', 'dollar']

In [16]:
# What are the columns? (Another way)
list(churn.columns)

['user_id',
 'gender',
 'address',
 'store_id',
 'trans_id',
 'timestamp',
 'item_id',
 'quantity',
 'dollar']

In [89]:
# What are their types?
churn.dtypes

user_id        int64
gender        object
address       object
store_id       int64
trans_id       int64
timestamp     object
item_id      float64
quantity       int64
dollar         int64
dtype: object

In [ ]:
# What is their distribution (when it makes sense)?

2. Do the columns have the right types for the analysis? If not, convert them to the right type. <span style="color:red" float:right>[1 point]</span>

In [90]:
churn('dollar') = churn['dollar'].astype(float)
churn.dollar.dtypes

SyntaxError: cannot assign to function call (1816764917.py, line 1)

In [57]:
churn.head()

,user_id,gender,address,store_id,trans_id,timestamp,item_id,quantity,dollar
0,101981,F,E,2860,818463,11/1/2000 0:00,4.710000e+12,1,37
1,101981,F,E,2861,818464,11/1/2000 0:00,4.710000e+12,1,17
2,101981,F,E,2862,818465,11/1/2000 0:00,4.710000e+12,1,23
3,101981,F,E,2863,818466,11/1/2000 0:00,4.710000e+12,1,41
4,101981,F,E,2864,818467,11/1/2000 0:00,4.710000e+12,8,288

In [52]:
churn.dollar.head

<bound method NDFrame.head of 0          37
1          17
2          23
3          41
4         288
         ...
252199    138
252200     96
252201     89
252202    108
252203     95
Name: dollar, Length: 252204, dtype: int64>

3. Do any columns appear to have all rows with unique categories? How do we show that? <span style="color:red" float:right>[1 point]</span>

4. What are some "obvious" questions we can ask about the data? We can ask many questions here, but we limit it to two:
   - Is quantity or volume ever negative and why? <span style="color:red" float:right>[1 point]</span>
   - What is the date range covered by the data? <span style="color:red" float:right>[1 point]</span>  
     HINT: You will need to convert `timestamp` into an a `datetime` column. You can use `pd.to_datetime` for that. We leave it to you to learn more about working with `datetime` colums.

5. What are some "not-so-obvious" questions we can ask about this data? What are some important summary statistics and visualizations we should look at to answer them? Note that having domain knowledge can make this easier, so here's a list of questions and your task is to pick at least two questions and answer them using statistical summaries or visualizations:
   - How many transactions on average do users have in a given week? <span style="color:red" float:right>[2 point]</span>
   - Are there items that are more commonly sold in bulk (quantity greater than 1)? <span style="color:red" float:right>[2 point]</span>
   - How do quantity and volume tend to change over the course of the day (hour by hour)? <span style="color:red" float:right>[2 point]</span>
Note that the above questions are intetionally phrased to sound non-technical. It is up to you to "translate" them into something that can be answered by a query on the data or a visualization.

6. Do the results mesh with what we expected? Note that to answer this we need to have some domain knowledge, so you can ignore this for the assignment. <span style="color:red" float:right>[0 point]</span>

7. What are additional features we could extract from the data? This is especially relevant if the data contains a timestamp column or raw text column (such as a full address for example). <span style="color:red" float:right>[1 point]</span>

8. Do I see any relationships between the features in the data? You will need to back this up with some statistical summaries or visualizations like what we covered in the lab. <span style="color:red" float:right>[2 point]</span>

Run EDA on the data and answer the above questions and any additional questions that may cross your mind along the way. As you can imagine, there isn't a single way to proceed, and the answer doesn't always have to be exact. It is up to you to decide how you want to convey the results, but assume that your audience is non-technical and not familiar with some of the terminology we learned in the lecture.

There are also third-party libraries we can used to run EDA. One example is the `pandas-profiling` library which provides us with a full report. You do not need to use it in this assignment, but we recommend that you install it and take a look on your own time.

# End of assignment